@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model MainViewModel
@inject SignInManager<HolidayUser> SignInManager


@{
    Layout = "~/Views/Shared/_FrontPageLayout.cshtml";
}
@{
    bool isUserLoggedIn = ViewBag.Users != null;
}
<p class=".bottom-two">
    <div class="row">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="column left dx-datagrid-filter-panel" style="width:auto">
                @await Html.PartialAsync("~/Views/Home/_DepartmentList.cshtml", Model.DepartmentList)
            </div>
            <div class="column middle">
                <div class="column left dx-datagrid-filter-panel" style="width:auto">
                    @await Html.PartialAsync("~/Views/Home/Scheduler.cshtml", Model.AppointmentList, ViewData);
                </div>
            </div>
            <div class="column right">
                @await Html.PartialAsync("~/Views/User/_UserStatView.cshtml", Model.DepartmentUserList)
            </div>
        }

    </div>
    @*<h2>@ViewData["currentUserID"] test</h2>*@
</p>


<script>
    function showToast(event, value, type) {
        DevExpress.ui.notify(event + " \"" + value + "\"" + " task", type, 800);
    }
</script>
